<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="message">
        {{message}}

        <a v-bind:href="url">链接2</a>
        <a :href="url">链接1</a>

        <input type="text" v-model="url">
        <input type="button" value="按钮" v-on:click="handle()">
        <input type="button" value="按钮1" @click="handle()">

        
    </div>
    
    
</body>
<script src="js/vue.js"></script>
<script>
    // vue使用:
    // 新建html页面,引入 vue.js文件
    // 在js代码区域,创建核心对象,定义数据模型
    // 编写视图

    /* 插值表达式:
      形式: {{表达式}}
      内容可以是:变量,三元运算符,函数调用,算数运算
      
      v-model:指令
    */

   /* 
        vue常用指令,vue生命周期
        指令:html标签带上 v-前缀 的特殊属性,不同指令具有不同含义.
        v-bind:为 html标签绑定属性值
        v-model:在表单元素上创建双向数据绑定
        v-on:在html标签绑定事件
        v-if,v-else-if,v-else:条件性的渲染某元素
        v-show:根据条件显示某元素,通过display属性来控制是否显示
        v-for:列表渲染,遍历容器的元素或对象的属性

        通过v-bind或v-model绑定的变量,必须在数据模型中声明.
   */
</script>
<script>
    //定义vue对象
    new Vue({
        el: "#app", //vue接管的区域
        data: {
            message: "hello world",
            url:"https://www.baidu.com"
        },
        methods: {
            handle:function(){
                alert("点击了");
            }
        },
    })
</script>
</html>